* {
    box-sizing: border-box;
}

.login-form-container {
    font-size: 14px;
    background-color: #fff;
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form-container h1,
p {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-form-container label {
    color: #424242;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.login-form-container input[type="submit"] {
    background-color: #ab00ce;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.login-form-container input[type="submit"]:hover {
    opacity: 1;
}

.message {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
}

.success-message {
    background-color: #e8f5e9;
    color: #2e7d32;
}

.error-message {
    background-color: #ffebee;
    color: #c62828;
}
