.message {
    font-size: 16px;
    padding: 5px;
    text-align: center;
}

.user-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.username-container {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
