<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        .index {
            font-size: larger;
            margin: 0 auto;
            color: #333;
        }
    </style>
</head>

<body>
    <div class="topnav">
        <div class="left-links">
            <a class="active" href="/">Home</a>
            <a href="/posts">Posts</a>
        </div>

        <div class="right-links">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </div>

    <div class="index">
    </div>
</body>

</html>
