<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Posts</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <script src="/static/scripts/post.js"></script>
    <script src="/static/scripts/script.js"></script>
</head>

<body>
    <div class="topnav">
        <div class="left-links">
            <a href="/">Главная</a>
            <a class="active" href="/posts">Посты</a>
        </div>

        <div class="right-links" id="right-links">
            <a href="/login">Вход</a>
            <a href="/register">Регистрация</a>
        </div>
    </div>

    <div class="post-container">
    </div>
</body>

</html>
