body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* --- Navigation bar --- */

.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav .left-links,
.topnav .right-links {
    display: flex;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ab00ce;
    color: white;
}

.topnav a.active {
    background-color: #ab00ce;
    color: white;
}

/* ---------------------- */
